#####################################################################
# CxChanger 换头路径模板
#
# 方案来源:
#   https://github.com/cx330-TXY/CxChanger
#
# 安装脚本选择 CxChanger 时会复制本文件到：
#   ~/printer_data/config/multitool/change_tool.cfg
#
# 使用前必须按机器实测修改：
#   - 每个工具的 dock_x / dock_y
#   - dock_shift_x / dock_dodge_y / dock_safe_y
#   - feed_safe / feed_fast / feed_slow
#####################################################################


#####################################################################
# 停靠坞参数集中管理
#####################################################################
[gcode_macro _multitool_cfg]
description: CxChanger 磁吸停靠坞参数

# --- 速度 ---
variable_feed_safe:        15000
variable_feed_fast:        1200
variable_feed_slow:        400

# --- 停靠坞运动逻辑参数 ---
variable_dock_shift_x: -3.5
variable_dock_dodge_y: 14
variable_dock_safe_y:  25

# --- 各热端停靠坞坐标：请按机器实测修改 ---
variable_t0_dock_x: 0
variable_t0_dock_y: 0
variable_t1_dock_x: 0
variable_t1_dock_y: 0
variable_t2_dock_x: 0
variable_t2_dock_y: 0
variable_t3_dock_x: 0
variable_t3_dock_y: 0

gcode:
    # 仅作变量容器


#####################################################################
# 释放热端：将当前热端放回停靠坞
#####################################################################
[gcode_macro _release_tool]
gcode:
    {% set cfg = printer["gcode_macro _multitool_cfg"] %}
    {% set tool = params.TOOL|int %}
    {% set prefix = "t" ~ tool %}

    {% set dock_x = cfg[prefix + "_dock_x"] %}
    {% set dock_y = cfg[prefix + "_dock_y"] %}
    {% set shift_x = cfg.dock_shift_x %}
    {% set dodge_y = cfg.dock_dodge_y %}
    {% set safe_y  = cfg.dock_safe_y %}

    M118 正在放回 T{tool}

    G90
    G0 X{dock_x} Y{dock_y + safe_y} F{cfg.feed_safe}
    G0 X{dock_x} Y{dock_y} F{cfg.feed_fast}
    G0 X{dock_x + shift_x} Y{dock_y} F{cfg.feed_slow}
    G0 X{dock_x + shift_x} Y{dock_y + dodge_y} F{cfg.feed_slow}
    G0 X{dock_x} Y{dock_y + dodge_y} F{cfg.feed_slow}
    G0 X{dock_x} Y{dock_y + safe_y} F{cfg.feed_fast}
    M400


#####################################################################
# 抓取热端：从停靠坞抓起目标热端
#####################################################################
[gcode_macro _pickup_tool]
gcode:
    {% set cfg = printer["gcode_macro _multitool_cfg"] %}
    {% set tool = params.TOOL|int %}
    {% set prefix = "t" ~ tool %}

    {% set dock_x = cfg[prefix + "_dock_x"] %}
    {% set dock_y = cfg[prefix + "_dock_y"] %}
    {% set shift_x = cfg.dock_shift_x %}
    {% set dodge_y = cfg.dock_dodge_y %}
    {% set safe_y  = cfg.dock_safe_y %}

    M118 正在抓取 T{tool}

    G90
    G0 X{dock_x} Y{dock_y + safe_y} F{cfg.feed_safe}
    G0 X{dock_x} Y{dock_y + dodge_y} F{cfg.feed_fast}
    G0 X{dock_x + shift_x} Y{dock_y + dodge_y} F{cfg.feed_slow}
    G0 X{dock_x + shift_x} Y{dock_y} F{cfg.feed_slow}
    G0 X{dock_x} Y{dock_y} F{cfg.feed_slow}

    G0 X{dock_x} Y{dock_y + safe_y} F{cfg.feed_fast}
    M400
